# --- Python & Backend Ignored ---
__pycache__/
*.pyc
venv/
env/
*.log
scans.db
backend/scans/reports/*.pdf
backend/scans/reports/*.json
.vscode/
.idea/

# --- React & Frontend Ignored ---
node_modules/
build/
dist/
.DS_Store
.env

# Python
__pycache__/
*.pyc

# Virtual Envs
venv/
env/

# Databases
*.db

# Environment variables
.env